* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1c;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 950px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 180px auto 100px;
}

header {
    display: block;
    grid-column-start: span 3;
}

.banner {
    height: 150px;
    background: url('https://cdn.discordapp.com/attachments/454300354457239553/645698504974663708/banner_big.jpg');
    background-size: auto 158px;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    padding: 0 2% 0 2%;
}

.logo {
    margin: 0 2% 0 2%;
    grid-row-start: span 3;
}

.ticker {
    height: 25px;
    border-radius: 0 0 7px 7px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    background: #DDD7C9;
    width: 285px;
    font-size: 10px;
    grid-column-start: 3;
    justify-self: end;
    display: flex;
    align-items: center;
}

#ticker-icon {
    margin: 5px;  
    height: 15px;
    width: 15px;
}

#ticker-info {
    margin: 2px;
}

.user-tab {
    height: 112px;
    width: 285px;
    background: url('https://www1.flightrising.com/static/layout/user_module_bg.png');
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: end;
    display: grid;
    grid-template-rows: 20px 25px auto;
    grid-template-areas: "user username . "
    "user energybar energybar"
    "user items items";
    padding: 10px;
}

.user {
    grid-area: user;
    display: flex;
    flex-direction: column;
}

.user img {
    height: 60px;
    width: 60px;
}

#avatar {
    border: 1px black solid;
}

#username {
    grid-area: username;
    margin-left: 5px;
}

#energy-bar {
    grid-area: energybar;
    font-size: 10px;
    font-weight: bold;
    color: #731C08;
    -webkit-text-stroke: 1px #fff solid;
    text-align: center;
}

.user-tab-icons {
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 30px);
}

.user-bar-icon {
    font-size: 10px;
    padding-left: 10px;
}

.user-bar-icon img {
    width: 25px;
    height: 25px;
}

.user-bar-icon a {
    display: flex;
    align-items: center;
}

.user-bar-icon a:hover {
    text-shadow: none;
}

.food-bar {
    background: #731C08;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #E8CC9F;
    font-size: 10px;
    font-weight: bold;
}

.clock, .time, .users {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.clock img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

#user-count {
    margin: 0 5px;
}

.notifications {
    display: flex;
    align-items: center;
}

.notifications span {
    padding: 0 20px 0 10px;
}

.navigation {
    background: #DBD6C8;
    padding: 10px;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-list {
    padding: 5px 0;
}

.nav-link {
    color: #731C08;
    font-weight: bold;
    text-decoration: none;
}

.navigation ul li {
    list-style-type: none;
    padding-left: 25px;
    font-size: 12px;
    display: block;
}

.nav-link:hover {
    text-shadow: 0 0 5px #fff, 0 0 5px #ffe590, 0 0 5px #fff;
}

.nav-icon {
    max-height: 25px;
    max-width: 25px;
}

.nav-title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px #731C08;
    text-shadow: -1.5px 1.5px 0 rgba(0,0,0,.5);
    margin: 5px;
}

.skybanner {
    height: 616px;
    width: 180px;
    background: #731C08;
    border-radius: 7px;
    margin: 10px 0 100px 0;
}

.content {
    background: #fff;
    grid-column: 2 / span 2;
}

footer {
    text-align: center;
    font-size: 10px;
    grid-column-start: span 3;
    grid-row-start: 3;
}

.bottom-bar {
    background: #731D08;
    height: 90px;
}

.copyright-info {
    background: #DBD6C8;
    padding: 5px;
}

@media screen and (max-width: 480px) {
    
    .wrapper {
        display: block;
        width: 100%;
    }
    
    .banner {
        height: 100%;
        background-size: cover;
    }
    
    .ticker {
        margin: 0 auto;
        grid-column-start: span 3;
        grid-row-start: 1;
    }
    
    .logo {
        margin: 0 auto;
        padding: 10px 0 10px 0;
        text-align: center;
        z-index: 1;
        grid-column-start: span 3;
        grid-row-start: 2;
    }
    
    .user-tab {
        margin: 0 auto;
        grid-column-start: span 3;
        grid-row-start: 3;
    }

    .users {
        display: none;
    }
    
    .navigation {
        padding: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .nav-header {
        width: 25%;
        text-align: center;
        border-radius: 7px 7px 0 0;
    }

    #clan-header {
        background: white;
    }

    .nav-header img {
        margin: 0 auto;
    }
    
    .nav-list {
        display: none;
    }

    .nav-title {
        display: none;
    }

    .skybanner {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .clock {
        display: none;
    }
    .notifications {
        margin: 0 auto;
        padding-left: 65px;
    }
}